<div class="container">
  <div class="row">
    <div class="recipe-details-container">
      <div class="col-md-9">
        <div class="recipe-details">
          <div class="row">
            <div class="col-md-7">
              <div class="recipe-image">
                <div class="recipe-image-preview">
                  <img src="assets/img/img4.jpg" class="details-image" alt="">
                  <img src="assets/img/img3.jpg" class="details-image hide" alt="">
                  <img src="assets/img/img4.jpg" class="details-image hide" alt="">
                  <img src="assets/img/img1.jpg" class="details-image hide" alt="">
                </div>
                <div class="recipe-image-thumbnails">
                  <img src="assets/img/img4.jpg" onclick="nextSlide(1)" class="details-image" alt="">
                  <img src="assets/img/img3.jpg" onclick="nextSlide(2)" class="details-image" alt="">
                  <img src="assets/img/img4.jpg" onclick="nextSlide(3)" class="details-image" alt="">
                  <img src="assets/img/img1.jpg" onclick="nextSlide(4)" class="details-image" alt="">
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="recipe-info">
                <h2>Recipe Information... <br> Full here</h2>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Sidebar -->
      <div class="col-md-3">
        <div class="sidebar">
          <h3>Sidebar</h3>
        </div>
      </div>
    </div>
    <!-- Main content -->

  </div>
</div>