<div class="homepage">
    <div class="container-fluid">
        <div class="row">
            <div class="top-categories">
                <h4 class="top-categories-title">Top Categories</h4>
            </div>
            <div class="tile-slide-container">
                <div class="tile-slide">
                    <div class="tile">
                        <div class="tile__media">
                            <img class="tile__img" src="assets/img/img1.jpg" alt="" />
                        </div>
                        <div class="tile__details">
                            <div class="tile__title">
                                Top Gear
                            </div>
                        </div>
                    </div>

                    <div class="tile">
                        <div class="tile__media">
                            <img class="tile__img" src="assets/img/img1.png" alt="" />
                        </div>
                        <div class="tile__details">
                            <div class="tile__title">
                                Top Gear
                            </div>
                        </div>
                    </div>

                    <div class="tile">
                        <div class="tile__media">
                            <img class="tile__img" src="assets/img/img0.png" alt="" />
                        </div>
                        <div class="tile__details">
                            <div class="tile__title">
                                Top Gear
                            </div>
                        </div>
                    </div>

                    <div class="tile">
                        <div class="tile__media">
                            <img class="tile__img" src="assets/img/img2.jpg" alt="" />
                        </div>
                        <div class="tile__details">
                            <div class="tile__title">
                                Top Gear
                            </div>
                        </div>
                    </div>

                    <div class="tile">
                        <div class="tile__media">
                            <img class="tile__img" src="assets/img/img3.jpg" alt="" />
                        </div>
                        <div class="tile__details">
                            <div class="tile__title">
                                Top Gear
                            </div>
                        </div>
                    </div>

                    <div class="tile">
                        <div class="tile__media">
                            <img class="tile__img" src="assets/img/img4.jpg" alt="" />
                        </div>
                        <div class="tile__details">
                            <div class="tile__title">
                                Top Gear
                            </div>
                        </div>
                    </div>

                    <div class="tile">
                        <div class="tile__media">
                            <img class="tile__img" src="assets/img/img5.jpg" alt="" />
                        </div>
                        <div class="tile__details">
                            <div class="tile__title">
                                Top Gear
                            </div>
                        </div>
                    </div>

                    <div class="tile">
                        <div class="tile__media">
                            <img class="tile__img" src="assets/img/img7.png" alt="" />
                        </div>
                        <div class="tile__details">
                            <div class="tile__title">
                                Top Gear
                            </div>
                        </div>
                    </div>

                    <div class="tile">
                        <div class="tile__media">
                            <img class="tile__img" src="assets/img/img8.jpg" alt="" />
                        </div>
                        <div class="tile__details">
                            <div class="tile__title">
                                Top Gear
                            </div>
                        </div>
                    </div>

                    <div class="tile">
                        <div class="tile__media">
                            <img class="tile__img" src="assets/img/img9.png" alt="" />
                        </div>
                        <div class="tile__details">
                            <div class="tile__title">
                                Top Gear
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <app-recipe-preview></app-recipe-preview>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <app-recipe-preview></app-recipe-preview>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <app-recipe-preview></app-recipe-preview>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <app-recipe-preview></app-recipe-preview>
            </div>
        </div>
    </div>
</div>