<mat-card class="recipe-card">
  <mat-card-header>
    <div mat-card-avatar class="recipe-header-image"></div>
    <mat-card-title>yemiOtola</mat-card-title>
    <mat-card-subtitle>Chef at cofuoven.org</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/img/ekpang.jpg" alt="Ekpang nkukwo">
  <mat-card-content>
    <h4>First Lady bread</h4>
    <p>
      What would you say to the most respected dish in South Nigeria. Ekpang has grown above other...
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>CLAP</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
